<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esprima" version="1.0.1270" targetFramework="net48" />
  <package id="Macross.Json.Extensions" version="1.5.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="PlaywrightSharp" version="0.160.0-alpha" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="xunit" version="2.4.1" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net48" />
  <package id="xunit.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.4.3" targetFramework="net48" developmentDependency="true" />
</packages>