<RuleSet Name="Rules for PlaywrightSharp" Description="Rules for PlaywrightSharp" ToolsVersion="10.0">
 <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SX1309" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1054" Action="None" /> <!-- Overloads to System.Uri-->
    <Rule Id="CA1056" Action="None" /> <!-- Change string to System.Uri-->
    <Rule Id="CA1040" Action="None" /> <!-- Avoid empty interfaces-->
    <Rule Id="CA2007" Action="Error" /> <!-- Use ConfigureAwait -->
    <Rule Id="CA1819" Action="Info" /> <!-- Properties should not return arrays. -->
    <Rule Id="CA1815" Action="Info" /> <!-- should override equality and inequality. -->
    <Rule Id="CA2227" Action="Info" /> <!-- Change '...' to be read-only by removing the property setter. -->
    <Rule Id="CA1200" Action="Info" /> <!-- Avoid using cref tags with a prefix -->
    <Rule Id="CA2101" Action="None" /> <!-- Marshaling for P/Invoke-->
    <Rule Id="CA1801" Action="Info" /><!-- Unused parameter-->
    <Rule Id="CA1822" Action="None" /><!-- Method can be marked as static-->
    <Rule Id="CA1823" Action="Error" /><!-- avoid unused fields-->
    <Rule Id="CA1031" Action="None"/> <!-- Use specific exceptions-->
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" /><!-- ToLower with locale-->
    <Rule Id="CA1305" Action="None" /><!-- ChangeType with locale-->
    <Rule Id="CA1307" Action="None" /><!-- GetHashCode with locale settings-->
    <Rule Id="CA1725" Action="Error" /><!-- Parameter names should match base declaration-->
  </Rules>
  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="Microsoft.VisualStudio.Threading.Analyzers">
    <Rule Id="VSTHRD200" Action="Error" /><!-- Use Async naming convention -->
    <Rule Id="VSTHRD003" Action="Hidden" /><!-- Avoid awaiting or returning a Task representing work that was not started within your context as that can lead to deadlocks -->
  </Rules>
</RuleSet>
