# Run only on tags (no PRs, no branch CI)
pr: none
trigger:
  tags:
    include:
      - '*'

parameters:
- name: doRelease
  displayName: Push the Playwright Release to NuGet.org
  default: false
  type: boolean

- name: doReleaseCLI
  displayName: Push the CLI Release to NuGet.org
  default: false
  type: boolean

variables:
- name: BuildConfiguration
  value: 'Release'
- name: TeamName
  value: 'Playwright'

resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release

extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  parameters:
    pool:
      # https://aka.ms/MicroBuild
      name: VSEngSS-MicroBuild2022-1ES
      os: windows
    sdl:
      suppression:
        suppressionFile: $(Build.SourcesDirectory)\.azure-pipelines\guardian\SDL\.gdnsuppress
    stages:
    - stage: BuildPackageSignPublish
      displayName: Build, Package, Sign, Publish
      jobs:
      - job: Build
        displayName: Build
        templateContext:
          mb:
            signing:
              enabled: true
              signType: real
              signWithProd: true
          outputs:
          - output: pipelineArtifact
            displayName: 'Publish Artifact'
            targetPath: '$(Build.ArtifactStagingDirectory)'
        steps:
        - task: UseDotNet@2
          displayName: 'Use .NET 8 SDK'
          inputs:
            packageType: sdk
            version: 8.x
        # We need to download the driver first, so we can build
        - task: DotNetCoreCLI@2
          displayName: Download the driver
          inputs:
            command: 'run'
            arguments: '--project $(Build.SourcesDirectory)/src/tools/Playwright.Tooling/Playwright.Tooling.csproj -- download-drivers --basepath $(Build.SourcesDirectory)'
        - task: DotNetCoreCLI@2
          displayName: Build Playwright NuGet Packages
          inputs:
            command: 'build'
            projects: src
            arguments: '-c $(BuildConfiguration)'
        # This (dotnet pack) will internally sign it via the MicroBuildSigningPlugin
        - task: DotNetCoreCLI@2
          displayName: Pack Playwright NuGet Packages
          inputs:
            command: 'pack'
            packagesToPack: |
              src/Playwright.CLI/Playwright.CLI.csproj;
              src/Playwright/Playwright.csproj;
              src/Playwright.NUnit/Playwright.NUnit.csproj;
              src/Playwright.MSTest/Playwright.MSTest.csproj;
              src/Playwright.MSTest.v4/Playwright.MSTest.v4.csproj;
              src/Playwright.Xunit/Playwright.Xunit.csproj;
              src/Playwright.Xunit.v3/Playwright.Xunit.v3.csproj;
              src/Playwright.TestAdapter/Playwright.TestAdapter.csproj;
            packDirectory: '$(Build.ArtifactStagingDirectory)/nuget'
            versioningScheme: 'off'
        - task: 1ES.PublishNuget@1
          displayName: Publish Microsoft.Playwright{NUnit,MSTest,Xunit,TestAdapter}
          condition: or(
              eq('${{ parameters.doRelease }}', true),
              startsWith(variables['Build.SourceBranch'], 'refs/tags/')
            )
          inputs:
            useDotNetTask: false
            # The reason for the 1.* after the package name is that we know the end of the package name in order to not
            # match with e.g. Microsoft.Playwright.CLI when we only want to match Microsoft.Playwright.
            # Semicolon separated as per https://portal.microsofticm.com/imp/v5/incidents/details/467483180/summary
            packagesToPush: $(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.1.*.nupkg;$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.MSTest.1.*.nupkg;$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.MSTest.v4.1.*.nupkg;$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.Xunit.1.*.nupkg;$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.Xunit.v3.1.*.nupkg;$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.NUnit.1.*.nupkg;$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.TestAdapter.1.*.nupkg
            packageParentPath: '$(Build.ArtifactStagingDirectory)'
            nuGetFeedType: external
            publishFeedCredentials: 'NuGet-Playwright'
        - task: 1ES.PublishNuget@1
          displayName: Publish Microsoft.Playwright.CLI
          condition: eq('${{ parameters.doReleaseCLI }}', true)
          inputs:
            useDotNetTask: false
            packagesToPush: '$(Build.ArtifactStagingDirectory)/nuget/Microsoft.Playwright.CLI.1.*.nupkg'
            packageParentPath: '$(Build.ArtifactStagingDirectory)'
            nuGetFeedType: external
            publishFeedCredentials: 'NuGet-Playwright'
