name: Code Style Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Check formatting
      run: dotnet format ./src/ --verify-no-changes -v:diag
    - name: Download driver
      run: ./build.sh --download-driver
    - name: Build projects (runs .NET analyzers)
      run: dotnet build ./src
