name: Code Style Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: We shouldn't mention puppeteer
      run: |
        chmod +x ./.github/workflows/no-puppeteer.sh
        ./.github/workflows/no-puppeteer.sh
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet build ./src/PlaywrightSharp.sln --configuration Debug -f netcoreapp3.1
    - name: Check formatting
      run: dotnet tool update dotnet-format --add-source https://dotnet.myget.org/F/format/api/v3/index.json --tool-path ./dotnet-format/ && ./dotnet-format/dotnet-format -w ./src/ --dry-run --check -v:diag
