name: Tests

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

jobs:
  test-net5:
    name: ${{ matrix.browser }}/${{ matrix.os }}/.NET 5
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox, webkit]
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Install prerequisites and download drivers
        shell: bash
        run: ./build.sh --download-driver
      - name: Building
        run: dotnet build ./src
      - name: Installing Browsers and dependencies
        run: dotnet run --project ./src/Playwright/Playwright.csproj -f net5.0 -- install --with-deps ${{ matrix.browser }}
      - name: Running tests
        if: matrix.os != 'ubuntu-latest'
        env:
          BROWSER: ${{ matrix.browser }}
        run: dotnet test ./src/Playwright.Tests/Playwright.Tests.csproj -c Debug -f net5.0 --logger "trx;LogFileName=TestResults.xml"
      - name: Running tests (Linux)
        if: matrix.os == 'ubuntu-latest'
        env:
          BROWSER: ${{ matrix.browser }}
        run: xvfb-run dotnet test ./src/Playwright.Tests/Playwright.Tests.csproj -c Debug -f net5.0 --logger "trx"

  test-net31:
    name: chromium/ubuntu/.NET 3.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 5.0 # needed for our build steps
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Install prerequisites and download drivers
        shell: bash
        run: ./build.sh --download-driver
      - name: Building
        run: |
          dotnet build -f netstandard2.0 ./src/Playwright/Playwright.csproj
          dotnet build -f netcoreapp3.1 ./src/Playwright.Tests/Playwright.Tests.csproj
      - name: Installing Browsers and dependencies
        run: dotnet run --project ./src/Playwright/Playwright.csproj -f net5.0 -- install --with-deps chromium
      - name: Running tests
        env:
          BROWSER: CHROMIUM
        run: xvfb-run dotnet test ./src/Playwright.Tests/Playwright.Tests.csproj -c Debug -f netcoreapp3.1 --logger "trx"
