name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  chromium-mac:
    name: Chromium on MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
      - name: Run tests
        env:
          PRODUCT: CHROMIUM
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f netcoreapp3.1 --logger:"LogFileName=TestResults.xml;verbosity=detailed"
      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: always()
        path: "TestResults.xml"
  firefox-mac:
    name: Firefox on MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
      - name: Run tests
        env:
          PRODUCT: FIREFOX
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f netcoreapp3.1 --logger:"LogFileName=TestResults.xml;verbosity=detailed"
      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: always()
        path: "TestResults.xml"
  webkit-mac:
    name: Webkit on MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
      - name: Run tests
        env:
          PRODUCT: WEBKIT
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f netcoreapp3.1 --logger:"LogFileName=TestResults.xml;verbosity=detailed"
      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: always()
        path: "TestResults.xml"