name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test_net5:
    name: ${{ matrix.product }} on ${{ matrix.os }} using .NET 5
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        product: [CHROMIUM, FIREFOX, WEBKIT]
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - name: Install Media Pack
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: Install-WindowsFeature Server-Media-Foundation
      - uses: actions/checkout@v2
      - uses: microsoft/playwright-github-action@v1
      - name: Cache drivers
        uses: actions/cache@v2
        with:
          path: ./src/PlaywrightSharp/runtimes/
          key: ${{ hashFiles('./src/Common/PackageInfo.props') }}
      - name: Setup .NET Core (On Mac)
        if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.100
        env:
          DOTNET_INSTALL_DIR: /users/runner/alternate/dotnet
      - name: Setup .NET Core (Not on mac)
        if: ${{ matrix.os != 'macos-latest' }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
      - name: Clean
        run: dotnet clean ./src/PlaywrightSharp.sln --configuration Debug && dotnet nuget locals all --clear
      - name: Download Drivers
        run: dotnet run -p ./src/tools/PlaywrightSharp.Tooling/PlaywrightSharp.Tooling.csproj -- download-drivers --basepath .
      - name: Run tests (!Linux)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        env:
          PRODUCT: ${{ matrix.product }}
        run: |
          dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f net5.0 --logger "trx;LogFileName=TestResults.xml"
      - name: Run tests (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          PRODUCT: ${{ matrix.product }}
        run: |
          xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- bash -c "ulimit -c unlimited && dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f net5.0 --logger \"trx\""
  test_net31:
    name: Chromium on Windows using .NET 3.1
    runs-on: windows-latest
    strategy:
      fail-fast: false
    steps:
      - name: Install Media Pack
        if: ${{ matrix.os == 'windows-latest' }}
        shell: powershell
        run: Install-WindowsFeature Server-Media-Foundation
      - uses: actions/checkout@v2
      - uses: microsoft/playwright-github-action@v1
      - name: Cache drivers
        uses: actions/cache@v2
        with:
          path: ./src/PlaywrightSharp/runtimes/
          key: ${{ hashFiles('./src/Common/PackageInfo.props') }}
      - name: Setup .NET Core (On Mac)
        if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
        env:
          DOTNET_INSTALL_DIR: /users/runner/alternate/dotnet
      - name: Setup .NET Core (Not on mac)
        if: ${{ matrix.os != 'macos-latest' }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https --clean
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
      - name: Setup .NET Core 5 (On Mac if needed)
        if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.100
        env:
          DOTNET_INSTALL_DIR: /users/runner/alternate/dotnet
      - name: Setup .NET Core 5 (Not on mac if needed)
        if: ${{ matrix.os != 'macos-latest' }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.100
      - name: Clean
        run: dotnet clean ./src/PlaywrightSharp.sln --configuration Debug && dotnet nuget locals all --clear
      - name: Download Drivers
        run: dotnet run -p ./src/tools/PlaywrightSharp.Tooling/PlaywrightSharp.Tooling.csproj -- download-drivers --basepath .
      - name: Run tests (!Linux)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        env:
          PRODUCT: CHROMIUM
        run: |
          dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f netcoreapp3.1 --logger "trx;LogFileName=TestResults.xml"
      - name: Run tests (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          PRODUCT: CHROMIUM
        run: |
          xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- bash -c "ulimit -c unlimited && dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj -c Debug -f netcoreapp3.1 --logger \"trx\""