name: Tests

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

jobs:
  test_net5:
    name: ${{ matrix.product }} on ${{ matrix.os }} using .NET 5
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        product: [CHROMIUM, FIREFOX, WEBKIT]
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Install prerequisites and download drivers
        shell: pwsh
        run: .\build.ps1 driver
      - name: Building...
        shell: pwsh
        run: dotnet build 
        working-directory: src
      - name: Installing Browsers and dependencies...
        shell: pwsh
        run: |
          dotnet run --project .\src\Playwright\Playwright.csproj -f net5.0 -- install
          dotnet run --project .\src\Playwright\Playwright.csproj -f net5.0 -- install-deps
      - name: Running tests...
        if: ${{ matrix.os != 'ubuntu-latest' }}
        shell: pwsh
        env:
          BROWSER: ${{ matrix.product }}
        run: 
          dotnet test ./Playwright.Tests/Playwright.Tests.csproj -c Debug -f net5.0 --logger "trx;LogFileName=TestResults.xml" -- NUnit.NumberOfTestWorkers=1
        working-directory: src
      - name: Running tests... (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        env:
          BROWSER: ${{ matrix.product }}
        working-directory: src
        run: |
          xvfb-run dotnet test ./Playwright.Tests/Playwright.Tests.csproj -c Debug -f net5.0 --logger "trx" -- NUnit.NumberOfTestWorkers=1

  test_net31:
    name: Chromium on Ubuntu using .NET 3.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 5.0 # needed for our build steps
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Install prerequisites and download drivers
        shell: pwsh
        run: .\build.ps1 driver
      - name: Building...
        shell: pwsh
        run: |
          dotnet build -f netcoreapp3.1 .\Playwright\Playwright.csproj
          dotnet build -f netcoreapp3.1 .\Playwright.Tests\Playwright.Tests.csproj
        working-directory: src
      - name: Installing Browsers and dependencies...
        shell: pwsh
        run: |
          dotnet run --project .\src\Playwright\Playwright.csproj -f net5.0 -- install
          dotnet run --project .\src\Playwright\Playwright.csproj -f net5.0 -- install-deps
      - name: Running tests... 
        shell: bash
        env:
          BROWSER: CHROMIUM
        working-directory: src
        run: |
          xvfb-run dotnet test ./Playwright.Tests/Playwright.Tests.csproj -c Debug -f netcoreapp3.1 --logger "trx" -- NUnit.NumberOfTestWorkers=1