name: Tests

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

jobs:
  test_net6:
    name: ${{ matrix.product }} on ${{ matrix.os }} using .NET 6
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        product: [CHROMIUM, FIREFOX, WEBKIT]
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 1
      - name: Setup .NET 5
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup .NET 6
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Install prerequisites and download drivers
        shell: pwsh
        run: |
          ./build.ps1 driver
          ./build.ps1 wwwroot
      - name: Building...
        run: dotnet build ./src
      - name: Installing Browsers and dependencies...
        run: |
          dotnet run --project ./src/Playwright/Playwright.csproj -f net6.0 -- install
          dotnet run --project ./src/Playwright/Playwright.csproj -f net6.0 -- install-deps
      - name: Running tests...
        if: ${{ matrix.os != 'ubuntu-latest' }}
        env:
          BROWSER: ${{ matrix.product }}
        run: 
          dotnet test ./src/Playwright.Tests/Playwright.Tests.csproj -c Debug -f net6.0 --logger "trx;LogFileName=TestResults.xml" -- NUnit.NumberOfTestWorkers=1
      - name: Running tests... (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          BROWSER: ${{ matrix.product }}
        run: |
          xvfb-run dotnet test ./src/Playwright.Tests/Playwright.Tests.csproj -c Debug -f net6.0 --logger "trx" -- NUnit.NumberOfTestWorkers=1

  test_net31:
    name: Chromium on Ubuntu using .NET 3.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 6.0 # needed for our build steps
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Install prerequisites and download drivers
        shell: pwsh
        run: |
          ./build.ps1 driver
          ./build.ps1 wwwroot
      - name: Building...
        run: |
          dotnet build -f netstandard2.0 ./src/Playwright/Playwright.csproj
          dotnet build -f netcoreapp3.1 ./src/Playwright.Tests/Playwright.Tests.csproj
      - name: Installing Browsers and dependencies...
        run: |
          dotnet run --project ./src/Playwright/Playwright.csproj -f net6.0 -- install
          dotnet run --project ./src/Playwright/Playwright.csproj -f net6.0 -- install-deps
      - name: Running tests... 
        env:
          BROWSER: CHROMIUM
        run: |
          xvfb-run dotnet test ./src/Playwright.Tests/Playwright.Tests.csproj -c Debug -f netcoreapp3.1 --logger "trx" -- NUnit.NumberOfTestWorkers=1