name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  chromium-ubuntu:
    name: Chromium on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        run: |
          sudo apt-get update
          sudo apt-get install libgbm-dev xvfb apt-transport-https
          sudo apt-get update
          sudo apt-get install dotnet-sdk-3.1
      - name: Fix Permissions
        run: sudo chmod a+rwx ./src/PlaywrightSharp.Tests/Screenshots
      - name: Create Certificate
        run: |
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
          sudo openssl x509 -inform der -in src/PlaywrightSharp.TestServer/testCert.cer -out /usr/local/share/ca-certificates/testCert.crt -outform pem
          sudo update-ca-certificates
      - name: Run tests
        env:
          PRODUCT: CHROMIUM
        run: xvfb-run --auto-servernum -- bash -c "dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj --filter Category=chromium -c Debug -f netcoreapp3.1"
  chromium-mac:
    name: Chromium on MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
          sudo openssl x509 -inform der -in src/PlaywrightSharp.TestServer/testCert.cer -out /usr/local/share/ca-certificates/testCert.crt -outform pem
          sudo update-ca-certificates
      - name: Run tests
        env:
          PRODUCT: CHROMIUM
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj --filter Category=chromium -c Debug -f netcoreapp3.1
  chromium-windows:
    name: Chromium on Windows (${{ matrix.framework }})
    runs-on: windows-latest
    strategy:
      matrix:
#        framework: [netcoreapp3.1, net48]
        framework: [netcoreapp3.1]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          New-SelfSignedCertificate -Subject "localhost" -FriendlyName "PlaywrightSharp" -CertStoreLocation "cert:\CurrentUser\My"
          Get-ChildItem -Path cert:\CurrentUSer\my | where { $_.friendlyname -eq "PlaywrightSharp" } | Export-Certificate -FilePath .\src\PlaywrightSharp.TestServer\testCert.cer
      - name: Run tests
        env:
          PRODUCT: CHROMIUM
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj --filter Category=chromium -c Debug -f ${{ matrix.framework }}
  firefox-ubuntu:
    name: Firefox on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        run: |
          sudo apt-get update
          sudo apt-get install libgbm-dev xvfb apt-transport-https
          sudo apt-get update
          sudo apt-get install dotnet-sdk-3.1
      - name: Create Certificate
        run: |
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
          sudo openssl x509 -inform der -in src/PlaywrightSharp.TestServer/testCert.cer -out /usr/local/share/ca-certificates/testCert.crt -outform pem
          sudo update-ca-certificates
      - name: Run tests
        env:
          PRODUCT: FIREFOX
        run: xvfb-run --auto-servernum -- bash -c "dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj --filter Category=firefox -c Debug -f netcoreapp3.1"
  firefox-mac:
    name: Firefox on MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          dotnet dev-certs https -ep src/PlaywrightSharp.TestServer/testCert.cer
          sudo openssl x509 -inform der -in src/PlaywrightSharp.TestServer/testCert.cer -out /usr/local/share/ca-certificates/testCert.crt -outform pem
          sudo update-ca-certificates
      - name: Run tests
        env:
          PRODUCT: FIREFOX
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj --filter Category=firefox -c Debug -f netcoreapp3.1
  firefox-windows:
    name: Firefox on Windows (${{ matrix.framework }})
    runs-on: windows-latest
    strategy:
      matrix:
#        framework: [netcoreapp3.1, net48]
        framework: [netcoreapp3.1]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Create Certificate
        run: |
          New-SelfSignedCertificate -Subject "localhost" -FriendlyName "PlaywrightSharp" -CertStoreLocation "cert:\CurrentUser\My"
          Get-ChildItem -Path cert:\CurrentUSer\my | where { $_.friendlyname -eq "PlaywrightSharp" } | Export-Certificate -FilePath .\src\PlaywrightSharp.TestServer\testCert.cer
      - name: Run tests
        env:
          PRODUCT: FIREFOX
        run: dotnet test ./src/PlaywrightSharp.Tests/PlaywrightSharp.Tests.csproj --filter Category=firefox -c Debug -f ${{ matrix.framework }}